<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Resume Screening Agent</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>AI Resume Screening Agent</h1>

    <div class="card">

        <form id="resumeForm"
              method="POST"
              enctype="multipart/form-data">

            <label>Select Resume (PDF)</label>

            <input type="file"
                   name="resume"
                   accept=".pdf"
                   required>

            <br><br>

            <label>Job Description</label>

            <textarea name="job_description"
                      rows="10"
                      required></textarea>

            <br><br>

            <button type="submit">
                Analyze Resume
            </button>

        </form>

    </div>

</div>

<div id="loadingScreen" class="loading-screen">

    <div class="loader"></div>

    <h2>Analyzing Resume...</h2>

    <p>Please wait while AI processes the resume.</p>

</div>

<script>

document.getElementById("resumeForm")
.addEventListener("submit", function() {

    document.getElementById(
        "loadingScreen"
    ).style.display = "flex";

});

</script>

</body>
</html>